<!doctype html>
<html className="no-js" lang="">
  <head>
    <meta charSet="utf-8" />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content={this.props.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="stylesheet" href="/luui/lib/luui.css" />
    <link rel="stylesheet" href="/lubase/lib/lubase.css" />
  </head>
  <body>
    <div id="app">
    </div>
    <script type="text/javascript" src="/babel-polyfill/dist/polyfill.js"></script>
    <script type="text/javascript" src="/fastclick/lib/fastclick.js"></script>
    <script type="text/javascript" src="/react/dist/react.js"></script>
    <script type="text/javascript" src="/react-dom/dist/react-dom.js"></script>
    <script type="text/javascript" src="/react-router/umd/ReactRouter.js"></script>
    <script type="text/javascript" src="/lodash/lodash.js"></script>
    <script type="text/javascript" src="/luui/lib/luui.js"></script>
    <script type="text/javascript" src="/lubase/lib/lubase.js"></script>
  </body>
</html>
